:root {
	--grey1: #1E1E1E;
	--grey2: #41484E;
	--grey3: #2C2C2C;
	--grey4blue: #1F262B;
	--grid-size: 10px;
	--topbar-size: 20px;
	--fontsize: 14px;
}

html {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	background-size: var(--grid-size) var(--grid-size);
	background-color: var(--grey1);
	background-image:
		linear-gradient(to right, var(--grey4blue) 1px, transparent 1px),
		linear-gradient(to bottom, var(--grey4blue) 1px, transparent 1px);
	font-family: "Nunito", sans-serif;
	font-weight: 400 !important;
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
	color: var(--grey2);
}


main {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: calc(var(--grid-size)*2);
	box-sizing: border-box;
}

.text_level1 {
	font-size: var(--fontsize);
	text-transform: uppercase;
}

.text_level2 {
	font-size: var(--fontsize);
}



::-webkit-scrollbar {
	display: none;
	width: 0px;
	/* Remove scrollbar space */
	background: transparent;
	/* Optional: just make scrollbar invisible */
}


.noselect {
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Old versions of Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
							  supported by Chrome, Edge, Opera and Firefox */
}


input,
button,
select,
textarea {
	padding: 0 inherit;
	outline: none;
	border: none;
	background: none;
	vertical-align: baseline;
}

button {
	cursor: pointer;
}

input {
	background-color: black;
	color: var(--grey2)
}

input:focus {
	color: white
}


input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}


.box {
	background-color: black;
	border: 1px solid var(--grey2);
	color: var(--grey2);
	border-radius: 2px;
	box-sizing: border-box;
}

.modal_container {
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}

.modal_content {
	margin: 15% auto;
	padding: 20px;
	width: 80%;
}